spring:
  application:
    name: haibackend

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2000

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    open-in-view: false

  sql:
    init:
      mode: always
      encoding: utf-8
      data-locations: classpath:ai_person_data.sql 

logging:
  level:
    org.springframework.jdbc.datasource.init: debug
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace

aws:
  bedrock:
    model:
      chat: ${AWS_BEDROCK_CHAT_MODEL:anthropic.claude-3-haiku-20240307-v1:0}
    knowledge-base:
      id: ${AWS_BEDROCK_KB_ID}
      model-arn: ${AWS_BEDROCK_KB_MODEL_ARN}

server:
  port: ${SERVER_PORT}
